<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Checkout Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/../static/css/favicon.png">
</head>

<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">Our Bookstore</a>
    <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="/BookStore/userprofile">Profile</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/BookStore/search">Search Books</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/BookStore/cart">Shopping Cart</a> </li>
    </ul>
</nav>

<body>
    <div class="main-content">
        <h1>Checkout Confirmation</h1>
        </br>
        </br>
        {% for item in data %}
            <tr>
                <td><a style="font-style: italic; font-size: 30px;">{{item[0]}}</a></td></br>
                <td>by {{item[1]}}</td></br>
                <td>Price: ${{item[2]}}</td></br>
                <td>Subject: {{item[3]}}</td></br>
                <td>Book ID: {{item[4]}}</td></br>
                </br>
            </tr>
        {% endfor %}
        <p style="margin-bottom: 0;">Subtotal: ${{sub}}</p>
        <p style="margin: 0;">Promotion: <a style="color: green;">-${{prom}}</a></p>
        <p style="margin-top: 0;">Sales Tax (6%): ${{tax}}</p>
        <h2>Final Total: ${{price}}</h2></br>
        <button type="button" class="btn btn-outline-dark" onclick="history.go(-1)">Go Back</button>
        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = '/BookStore/ordercon';">Place
            Order</button>
    </div>
</body>

<footer>
    <p>Copyright © 2020 | Our Bookstore | All rights reserved.</p>
</footer>

</html>