<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Edit Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/../static/css/favicon.png">
</head>

<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">Our Bookstore (Administrator View)</a>
    <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="/BookStore/adminprofile">Profile</a> </li>
    </ul>
</nav>

<body>
    <div class="main-content">
      <h1><img height="40px" src="/../static/css/mb.png"> Edit Book</h1>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputBookID">ID</label>
                    <input class="form-control" id="inputBookID" placeholder="123456789" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTitle">Title</label>
                    <input class="form-control" id="inputTitle" placeholder="Title">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAuthor">Author</label>
                    <input class="form-control" id="inputAuthor" placeholder="Author">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPrice">Price</label>
                    <input class="form-control" id="inputPrice" placeholder="$$">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPublisher">Publisher</label>
                    <input class="form-control" id="inputPublisher" placeholder="Publisher">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSubject">Subject</label>
                    <input class="form-control" id="inputSubject" placeholder="Subject">
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Edit Book</button>
        </form>
    </div>
</body>

<footer>
    <p>Copyright © 2020 | Our Bookstore | All rights reserved.</p>
</footer>

</html>
