<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/../static/css/favicon.png">
</head>

<body>
    <div class="main-content" style="margin: 15%;">
        <h1>Forgot Password?</h1>
        <p>Enter your email below to receive a code to change your password.</p>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="emailFP">Email (required)</label>
                <input type="email" class="form-control" name="emailFP" id="emailFP" placeholder="example@email.com"
                    required>
            </div>
            <button name="submit" type="submit" class="btn btn-outline-dark" value="submit">Get Code</button>
            <!-- Send email with change password code -->
            <!-- Redirect to changepwd -->
        </form>
    </div>
</body>

<footer>
    <p>Copyright © 2020 | Our Bookstore | All rights reserved.</p>
</footer>

</html>
